body {
  background-color: #444;
  background-image: url(2ee2238df520429e07e5c3866f133f8e.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

